<h2>Pagină Administrator</h2>

<form method="GET" action="/creare-db">
    <button type="submit">Creare BD</button>
</form>

<br>

<form method="POST" action="/inserare-db">

        <input type="text" name="pnume_de_inserat" value="Nume produs">
        <input type="number" name="ppret_de_inserat">
        <button type="submit">Încărcare BD</button>
    
</form>